.index-footer {
	margin-top: em(80);
	height: em(80);
	background: #fff;
	border-top: 1px solid #000;
	line-height: em(80);

	nav {
		text-align: center;
		a {
			text-decoration: none;
			color: #000;
		}
		ul {
			list-style: none;
			margin: 0;
			padding: 0;
			li {
				display: inline-block;
				margin-left: 4em;
				&:first-child {
					margin-left: 0;
				}
			}
		}

		@include MQ(L) {
			display: none;
		}
	}

	p {
		display: none;

		@include MQ(L) {
			display: block;
			margin: 0;
			font-size: 0.8em;
			text-align: center;
		}

		@include MQ(XL) {
			font-size: 0.9em;
		}
	}
}

.next-project {
  	width: 100%;
  	margin-top: 120px;
  	padding-top: 120px;
  	text-align: center;
	div {
	  	position: absolute;
	  	bottom: 0;
	  	left: 0;
	  	right: 0;
	  	height: 100px;
	  	line-height: 100px;
	  	@include transition(all 0.5s ease);
	  	
	  	&:last-child {
			background: rgba(0,0,0,0.75);	
			color: #fff;
	  	}
	  	&:first-child span {
			opacity: 0;
	  		@include transition(all 0.5s ease);	  		
	  	}
	}

	&:hover, &:active {
  		div {
  			height: 120px;
  			&:last-child {
  				opacity: 0;
  			}
  			&:first-child span {
  				opacity: 1;
  			}
    	}
  	}
}