.top-navigation {
	width: 100%;
	height: em(100);
	background: transparent;
	@include transition(all 0.3s ease);

	nav {
		line-height: em(100);
		font-size: 0.85em;
		@include transition(all 0.3s ease);

		@include MQ(M) {
			font-size: 1em;
		}

		a {
			text-decoration: none;
		}

		.go-home {
			float: left;
		}

		ul {
			float: right;
			list-style: none;
			margin: 0;
			padding: 0;
			@include clearfix;

			li {
				display: block;
				float: left;

				&:nth-child(n+3) {
					display: none;
				}

				@include MQ(M) {
					display: inline-block;
					float: none;
					margin-left: 4em;
					&:first-child {
						margin-left: 0;
					}
				}				

				@include MQ(L) {
					&:nth-child(n+3) {
						display: inline-block;
					}
					&:nth-child(n+4) {
						margin-left: 2em;
					}
				}

				a {
					display: block;
					cursor: pointer;
					padding: 0 2em 0;
					@include backface-visibility(hidden);

					@include MQ(M) {
						position: relative;
						display: inline;
						padding: 0 0 10px;
						&:after {
							content: '';
							position: absolute;
							top: 100%;
							left: 0;
							width: 100%;
							height: 1px;
							background: #cccccc;
							opacity: 0;
							@include transition(height 0.3s, opacity 0.3s, transform 0.3s);
							@include transform(translateY(-10px));
						}
						&:hover:after {
							height: 3px;
							opacity: 1;
							@include transform(translateY(0px));
						}
					}

					.device-hidden {
						display: none;

						@include MQ(M) {
							display: inline;
						}
					}
				}
				.active:after {
					height: 3px;
					opacity: 1;
					@include transform(translateY(0px));
				}

			}
		}
	}

	&.shrink {
		height: em(80);
		background: #fff;
		opacity: 0.97;
		border-bottom: 1px solid #000;
		-webkit-box-shadow: 0 1px 10px rgba(0,0,0,0.1);
		-moz-box-shadow: 0 1px 10px rgba(0,0,0,0.1);
		box-shadow: 0 1px 10px rgba(0,0,0,0.1);

		nav {
			line-height: em(80);
			a {
				color: #2c2c2c;
			}
		}
	} 
}

.top-navigation--fixed {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 3;
}

h1.hr {
	padding-bottom: 0.25em;
	border-bottom: 1px solid #ddd;
}