$S:     480px;
$M:     550px;  
$L:     960px;   
$XL:    1100px;

// media queries
@mixin MQ($canvas) {
    @if $canvas == S {
        @media only screen and (min-width: $S) { @content; } 
    }
    @else if $canvas == M {
        @media only screen and (min-width: $M) { @content; } 
    }
    @else if $canvas == L {
        @media only screen and (min-width: $L) { @content; } 
    }
    @else if $canvas == XL {
        @media only screen and (min-width: $XL) { @content; } 
    }
}

@mixin column($percentage, $float-direction:left, $column-gutter:0) {
	width: 100% * $percentage;
	float: $float-direction;
	margin-right: $column-gutter;
}

.main {
	position: relative;
	top: 650px;
	z-index: 2;
	background: #fff;
}

.container {
	width: 90%;
	margin: 0 auto;
	@include clearfix;
}

.container--large {
    max-width: 1170px; 
}

.container--small {
    max-width: 775px;
}