.projects {
	list-style: none;
	padding: 0;
	li {
		width: 100%;
		margin-bottom: 3em;
		@include clearfix;

		@include MQ(L) {
			margin-bottom: 6em;
			&:nth-child(odd) .project-preview {
				@include column(.6, right, 0);
				.browser {
					float: right;
				}
			}
			&:nth-child(even) .project-preview {
				@include column(.6, left, 5%);
				.mobile {
					right: 0;
				}
			}
			&:nth-child(odd) .project-info {
				@include column(.35, left, 5%);
			}
			&:nth-child(even) .project-info {
				@include column(.35, right, 0);
			}			
		}

		.project-preview {
			position: relative;
		}

		.project-info {
			h3 {
				margin-top: 1.5em;
				font-size: em(24);
				font-weight: 400;
				text-align: center;

				@include MQ(M) {
					font-size: em(32);	
				}
				@include MQ(L) {
					text-align: left;
				}
			} 
			p {
				margin-bottom: 2em;
				font-size: em(16);
				line-height: em(24);
				font-weight: 300;

				@include MQ(M) {
					font-size: em(20);
					line-height: em(29);
				}

			}
		}
	}
}

.more-projects {
	list-style: none;
	padding: 0;
	li {
		width: 100%;
		margin-bottom: 3em;

		h3 {
			height: em(50);
			font-size: em(18);
			text-align: center;
			font-weight: 400;
		}

		@include MQ(L) {
			@include column(.32);
			margin: 0 2% 2.8em 0;
			&:nth-child(3n) {
				margin-right: 0;
			}			
		}

	}
}

.browser, .mobile {
	transform: scale(1) rotate(0deg) translate(0);
}

.mobile {
	z-index: 1;
	border: 2px solid #909597;
	border-radius: 10px;
	background: #fff;
	text-align: center;

	@include MQ(L) {
		border-radius: 20px;
	}

	img {
		width: 100%;
		height: auto;
	}
	div {
		position: absolute;
		left: 0;
		right: 0;
	}
	span {
		display: block;
		margin: 0 auto;
		background: #909597;
	}
	.top, .bottom {
		position: relative;
		width: 100%;
	}
}

.mobile--preview {
	position: absolute;
	top: 30%;
	width: 25%;
	min-width: 0;
	padding: 0 1%;

	@include MQ(L) {
		top: 20%;
		min-width: 160px;
		max-width: 220px;
		padding: 0 10px;
	}

	img {
		border: 2px solid #909597;
	}
	.top {
		height: 26px;

		@include MQ(M) {
			height: 40px;
		}

		@include MQ(L) {
			height: 54px;
		}

		.camera {
			top: 8px;

			@include MQ(M) {
				top: 12px;
			}

			@include MQ(L) {
				top: 15px;
			}

			span {
				width: 4px;
				height: 4px;
				border-radius: 4px;

				@include MQ(M) {
					width: 6px;
					height: 6px;
				}

				@include MQ(L) {
					width: 8px;
					height: 8px;	
				}

			}
		}
		.speaker {
			top: 16px;

			@include MQ(M) {
				top: 24px;
			}

			@include MQ(L) {
				top: 32px;	
			}

			span {
				width: 18px;
				height: 2px;
				border-radius: 2px;

				@include MQ(M) {
					width: 26px;
					height: 3px;
				}

				@include MQ(L) {
					width: 34px;
					height: 4px;					
				}

			}
		}
	} 
	.bottom {
		height: 26px;

		@include MQ(M) {
			height: 40px;
		}

		@include MQ(L) {
			height: 54px;			
		}

		span {
			border: 2px solid #909597;
			background: none;
		}
		div {
			top: 4px;

			@include MQ(M) {
				top: 8px;
			}

			@include MQ(L) {
				top: 9px;
			}

			span {
				width: 16px;
				height: 16px;
				border-radius: 8px;

				@include MQ(M) {
					width: 24px;
					height: 24px;
					border-radius: 12px;
				}

				@include MQ(L) {
					width: 34px;
					height: 34px;
					border-radius: 17px;					
				}

			}
		}
	}
}

.mobile--large {
	position: relative;
	width: 100%;
	min-width: 160px;
	padding: 0 15px;
	.top {
        height: 80px;
        .camera {
            top: 25px;
            span {
                width: 10px;
                height: 10px;
                border-radius: 5px;
            }
        }
        .speaker {
            top: 49px;
            span {
                width: 48px;
                height: 6px;
                border-radius: 3px;
            }
        }
    }
    .viewport {
        position: relative;
        height: 550px;
        overflow-y: scroll;
        border: 2px solid #909597;
    }
    .bottom {
        height: 80px;
        span {
            border: 2px solid #909597;
            background: none;
        }
        div {
            top: 15px;
            span {
                width: 50px;
                height: 50px;
                border-radius: 25px;
            }
        }
    }  
}

.browser {
	margin: 0 auto;
	position: relative;
	border-radius: 6px;
	border: 2px solid #909597;

	@include MQ(L) {
		margin: 0;
	}

	img {
		max-width: 100%;
		height: auto;
		border-radius: 0 0 4px 4px;
	}
	.top {
		position: relative;
		width: 100%;
		height: 40px;
		border-radius: 5px 5px 0 0;
		box-shadow: inset 0 -2px #909597;
		background: #fff;
		ul {
			position: absolute;
			top: 0px;
			left: -25px;
			list-style: none;
			margin: 1em 0;
			li {
				float: left;
				width: 9px;
				height: 9px;
				margin-right: 5px;
				border-radius: 4.5px;
				background: #909597;
			}
		}
		span {
			position: absolute;
			top: 6px;
			right: 6px;
			bottom: 8px;
			left: 66px;
			padding-left: 8px;
			box-shadow: inset 0 0 0 2px #909597;
			border-radius: 3px;
			line-height: 26px;
			font-size: 12px;
			text-align: left;
			color: #909597;
			overflow: hidden;
		}
	}
}

.browser--small {
	max-width: 780px;
	@include MQ(L) {
		width: 90%;		
	}
}

.browser--large {
	width: 100%;
	max-width: 780px;
}