.text {
	@include MQ(L) {
		@include column-count(2);
		@include column-gap(1.5em);		
	}

	p {
		font-size: em(20);
		line-height: em(30);
		font-weight: 300;
	}
}

.split {
	@include MQ(L) {
		> div:first-child {
			@include column(0.6, left, 5%);
		}

		> div:last-child {
			@include column(0.35, left, 0);
		}		
	}
}

.mobile-preview {

	@include MQ(L) {
		> div:first-child {
			@include column(0.35, left, 5%);
		}

		> div:last-child {
			@include column(0.6, left, 0);
		}		
	}

	ul {
		list-style:none;
		padding: 0;
		margin: 0;
		@include clearfix;

		li {
			max-width: 375px;
			margin: 0 auto;
			margin-bottom: 4em;
			@include MQ(L) {
				@include column(.48);
				margin-right: 4%;
				margin-bottom: 0;
				&:last-child {
					margin-right: 0;
				}				
			}
		}
	}
}

.split, .mobile-preview {
	@include clearfix;

	h3 {
		font-size: em(20);
		line-height: em(29);
		text-transform: uppercase;
		font-weight: 400;
		letter-spacing: 1px;

		@include MQ(L) {
			margin-top: 0;
		}
	}

	p {
		font-size: em(20);
		line-height: em(29);
		font-weight: 300;
	}
}

.browser-showcase {
	margin-bottom: 4em;
	@include MQ(L) {
		float: left;
		width: 49%;
		margin-right: 2%;
		margin-bottom: 0;		
	}

	&:last-child {
		margin-right: 0;
	}
	.browser {
		.viewport {
			position: relative;
			height: 500px;
			overflow-y: scroll;
		}
		.viewport--video {
            video {
                max-width: 100%;
                overflow: hidden;
                @include border-bottom-radius(6px);
            }				
		}
	}
	.browser--video {
		max-width: 638px;
		margin: 0 auto;
	}
}

.inset {
	padding: 0 2em;
}

.video-container {
	text-align: center;
}