.splash {
	position: fixed;
	top: 0;
	width: 100%;
	height: 650px;
	text-align: center;

	.page-intro {
		position: relative;
		padding-top: em(220);

		img {
			max-width: 90%;
			height: auto;
			@include animation-delay(0.25s);
			@include backface-visibility(hidden);
		}

		.project-description {
			margin: 1em;
			font-size: em(22);
			font-weight: 400;
			letter-spacing: 1px;
			@include animation-delay(0.75s);
			@include backface-visibility(hidden);

			@include MQ(M) {
				font-size: em(28);
			}
		}
	}
}

.splash--home {
	background: url("../images/splash_home.jpg");
	background-size: cover;
	background-position: 50% 50%;
	.lead-in {
		margin: 0;
		font-size: 1em;
		text-transform: uppercase;
		letter-spacing: 3px;
		color: #999999;
		@include animation-delay(0.25s);
	}
	h1 {
		margin: 20px;
		font-size: 5em;
		text-transform: uppercase;
		letter-spacing: 1px;
		color: #000;
		@include animation-delay(0.75s);
	}
	.tagline {
		margin: 0;
		font-size: 0.8em;
		text-transform: uppercase;
		letter-spacing: 2px;
		color: #c4c4c4;
		@include animation-delay(1.5s);
	}
	.hr {
		display: block;
		margin: 25px auto 0px;
		background: #999999;
		width: 100px;
		height: 2px;
		border: 0;
		@include animation-delay(2.5s);
	}
}