.splash {
	position: fixed;
	top: 0;
	width: 100%;
	height: em(650);
	text-align:center;

	.page-intro {
		position: relative;
		padding-top: em(220);
		// z-index: 3;
		
		h1 {
			margin: 20px;
			font-size: 5em;
			line-height: 80px;
			letter-spacing: 1px;
			color: #000;
		}

		.lead-in {
			margin: 0;
			font-size: 1em;
			letter-spacing: 3px;
			text-transform: uppercase;
			color: #999999;
		}

		.tagline {
			margin: 0;
			font-size: 0.8em;
			letter-spacing: 2px;
			text-transform: uppercase;
			color: #c4c4c4;
		}

		.project-description {
			margin-top: 1em;
			font-size: 2em;
			font-weight: 400;
			color: #fff;
		}

		hr {
			margin: 25px auto 0px;
			background: #999999;
			width: 100px;
			height: 2px;
			border: 0;
		}

	}
}

.splash--home {
	background: url("../images/home-splash.jpg");
	background-size:cover;
	background-position: 50% 50%;
	h1 {
		text-transform: uppercase;
	}
}